/* En tu archivo de estilos (por ejemplo, CustomFooter.css) */

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease; /* Animación en el cambio de color de fondo */
}

footer:hover {
  background-color: #555; /* Color de fondo al pasar el ratón sobre el footer */
}

footer > div {
  max-width: 1200px; /* Ajusta según sea necesario */
  margin: 0 auto;
}


