.custom-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8; /* Color de fondo del pie de página */
  padding: 10px; /* Ajusta el relleno según tus preferencias */
  text-align: center; /* Alinea el contenido al centro si es necesario */
  /* Otros estilos que desees agregar */
}
